{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="row d-flex justify-content-center mb-4">
		<div class="col-12 col-md-8 col-lg-6">
			<div class="card bg-body-tertiary">
				<div class="card-body px-5 py-4">
					<h1 class="display-6 text-center">Enregistrez-vous</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-md-8 col-lg-6">
			<div class="card bg-body-tertiary">
				<div class="card-body p-5">
					{{ form_start(registrationForm) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.userName) }}
					{{ form_row(registrationForm.password.first) }}
					{{ form_row(registrationForm.password.second) }}

					<button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
