{% block body %}
	<nav class="navbar navbar-expand-lg bg-body-tertiary mb-4 d-flex rounded-3">
		<div class="container-fluid">
			<a class="navbar-brand mx-4 my-0" href="{{ path('app_home') }}">Personal Data Base</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1">
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Jeux vidéo
						</a>
						<ul class="dropdown-menu">
							{% for console in consoles %}
								<li>
									<a class="dropdown-item" href="{{ path('app_vg_games_by_console', {'console': console}) }}">{{ console }}</a>
								</li>
							{% endfor %}
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="{{ path('app_vg_list')}}">Ajouter</a>
							</li>
						</ul>
					</div>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_console_list') }}">Consoles</a>
					</li>

				</ul>
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Profil
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('app_user', {'id': app.user.id}) }}">Mon profil</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="dropdown-item" href="{{ path('admin') }}">Admin</a>
							</li>
						{% endif %}
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('app_logout')}}">Déconnexion</a>
						</li>
					</ul>
				</div>

				<div class="nav-item dropdown bd-mode-toggle ms-auto">
					<button class="btn py-2 d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
						<svg class="bi my-1 theme-icon-active" width="1em" height="1em">
							<use href="#circle-half"></use>
						</svg>
						<span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
					</button>
					<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
						<li>
							<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
								<svg class="bi me-2 theme-icon" width="1em" height="1em">
									<use href="#sun-fill"></use>
								</svg>
								Light

							</button>
						</li>
						<li>
							<button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
								<svg class="bi me-2 theme-icon" width="1em" height="1em">
									<use href="#moon-stars-fill"></use>
								</svg>
								Dark

							</button>
						</li>
						<li>
							<button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
								<svg class="bi me-2 theme-icon" width="1em" height="1em">
									<use href="#circle-half"></use>
								</svg>
								Auto

							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

{% endblock %}

