{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
{# <p class="lead">Bienvenue sur ta Data Base {{ app.user.userName}} !</p> #}
            <h1 class="display-4">Jeux vidéos de {{ app.user.userName}}</h1>
        </div>
        <div class="row">
        <div class="col-12 col-md-4">
                <div class="card sticky-top">
                    <div class="card-header">Ajout</div>
                    <div class="card-body">
        {{ form(form) }}
        </div>
        </div>
        </div>
        <div class="col-12 col-md-8">
        <table class="table table-hover">
                <thead class="table-dark sticky-top">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Console / Support</th>
                        <th scope="col">Date de sortie</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for vg in videoGames %}
                <tr>
                <td>{{ loop.index }}</td>
                <td>{{ vg.name}}</td>
                <td>{{ vg.console}}</td>
                <td>{{ vg.releaseDate|date('Y-m-d')}}</td>
                <td><button class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample"><span class="bi bi-eye-fill"></span></button></td>
                <td>
                
                {{ include('main/_delete_video_game_form.html.twig') }}

                
                
                </td>
                <tr>
      <td colspan="7">
      {# <p class="collapse" id="collapseExample{{ loop.index }}">Heyyy</p> #}
                <table class="table collapse" id="collapseExample{{ loop.index }}">
                <thead class="table-dark">
                    <tr>
                        <th>Développeur</th>
                        <th>Editeur</th>
                        <th>Etat</th>
                        <th>Commentaire</th>
                    </tr>
                </thead>
                <tbody>
                    <td>{{ vg.developer}}</td>
                    <td>{{ vg.publisher}}</td>
                    <td>{{ vg.conservation}}</td>
                    <td>{{ vg.commentary}}</td>
                </tbody>
                </table>
                </td>
                </tr>
                </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
        

        </div>
        </div>
{% endblock %}
