{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger mt-2" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<div class="p-5 mb-4 bg-body-tertiary rounded-3">
		<h1 class="display-4">{{ app.user.username }}</h1>
	</div>

	<form name="user_edit" method="post">
		<div id="user_password_edit" novalidate="novalidate">
			<div class="mb-3">
				<label for="pseudo" class="form-label required">Nom d'utilisateur</label>
				<input type="text" id="pseudo" name="pseudo" class="form-control" value="{{ app.user.username }}" required>
			</div>
			<div class="mb-3">
				<label for="email" class="form-label required">Email</label>
				<input type="email" id="email" name="email" class="form-control" value="{{ app.user.email }}" required>
			</div>

			<input type="hidden" name="token" value="{{ csrf_token('modify-pseudo') }}"/>
		</div>
		<button class="btn btn-yellow">Enregistrer les modifications</button>
	</form>
	<a class="btn btn-red my-2" href="{{ path('app_user_password_edit', {'id': app.user.id}) }}">Changer le mot passe</a>

{% endblock %}
